/* unvisited */
a:link{
    color: black;
    background-color: yellow;
}

/* visited */
a:visited{
    color: pink;
    background-color: black;
}

/* hover */
a:hover{
    color: white;
    background-color: tomato;
}

/* Active (most used in navigation) */
a:active{
    
}