p{
    color:red;
    /* background-color: blue; */
    font-size: 30px;
    font-family: monospace;
    border: 2px solid rgb(123, 255, 0);
}

h1{
    color: blue;
    border-style: groove;
    background-color: aqua;
}

h3{
    color: blueviolet;
}

ul{
    color: aqua;
}

div{
    border-style: double;
    text-align: center;
}

body{
    /* background: url(https://img.freepik.com/free-photo/interior-wall-mockup-with-green-plantgreen-wall-shelf3d-rendering_41470-4431.jpg?t=st=1647415551~exp=1647416151~hmac=2d8bc35222fe2ceb6830b4766e91475f718a5deef420eee7373b10532ef9cd08&w=1380); */
    background: url(../images/background.webp);
    /* background-color: cadetblue; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: -moz-element(); */
}

a{
    font-size: larger;
    color: burlywood;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 1000;

}

td{
    font-size: large;
    color: rgb(0, 0, 0);
    font-family: 'Fredericka the Great', cursive;
    font-weight: 1000;
}

caption{
    caption-side: bottom;
    font-weight: 1000;
}

#table-header{
    color: red;
    background-color: blue;
}

#odd-row{
    background-color: aqua;
}


#even-row{
    background-color: rgb(0, 255, 106);
}

.red-text{
    color: red;
    font-weight: 800;
}