h1 {
    color: red;
    text-align: center;
}

table {
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
}

td {
    /* border: 2px blue solid; */
}

body {
    background-color: grey;
}