ul{
    list-style-type: none;
    background-color: slategrey;
    margin:0;
    padding: 0;
}

a:active{
    background-color: red;
    color: white;
}

/* display each list as a block and shift to right */
li{
    display: block;
    float: right;
}

li a{
    padding: 5px 5px;
}

li a:hover{
    background-color: yellow;
}

div{
    /* top right bottom left */
    padding: 100px 10px 10px 10px;
    background-color: burlywood;
}